 * {
    font-family: roboto;
}
.box {
     position: fixed;
     top: 31%;
     left: 32%;
     height: 300px;
     width: 450px;
     background-color: #ffffff;
     z-index: 99999999999999999999;
     display: none;
 }
 
 .form {
     position: relative;
 }
 
 h1 {
     color: blue;
     margin: 30px;
     font-size: 50px;
     font-family: Roboto;
     font-weight: thin;
 }
 
 form {
     margin: 20px;
     position: relative;
     height: 100%;
 }
 
 .sumbit {
     position: absolute;
     right: 8%;
     bottom: 15%;
 }
 
 .background {
     position: fixed;
     z-index: 99999999999999999999999999999999999999999999999999;
     width: 100%;
     height: 100%;
     left: 0px;
     top: 0px;
 }
 
 .paper-input-container-0 .focused-line.paper-input-container {
     Background: #e91e63;
 }
 
 .user-profile {
     display: inline-block;
 }
 
 .user-profile img {
     height: 200px;
     width: 200px;
     border-radius: 50%;
     float: left;
     margin-right: 24px;
 }
 
 .user-details p {
     font-size: 11px;
 }
 
 .user-details {
     margin-top: 10px;
     vertical-align: bottom;
     position: relative;
     top: 20px;
     left: -10;
 }
 
 .user-details h4 {
     font-size: 18px;
 }
 
 .users {
     position: fixed;
     z-index: 999999999999;
     left: 44%;
     top: 35%;
     text-align: center;
 }
 
 .username {
     background-color: transparent;
     border: 0;
     position: absolute;
     top: 8%;
     left: 43.5%;
     font-weight: bolder;
 }