/*Metro === Forest*/
.MFdefault  {
           background-image: url(../../Backgrounds/Metro/Forest/Red.png);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.MFmagenta  {
           background-image: url(../../Backgrounds/Metro/Forest/Magenta.png);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.MForange  {
           background-image: url(../../Backgrounds/Metro/Forest/Orange.png);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.MFyellow  {
           background-image: url(../../Backgrounds/Metro/Forest/Yelllow.png);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.MFblue  {
           background-image: url(../../Backgrounds/Metro/Forest/Blue.png);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.MFviolet  {
           background-image: url(../../Backgrounds/Metro/Forest/Violet.png);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.MFcyan  {
           background-image: url(../../Backgrounds/Metro/Forest/Cyan.png);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.MFgreen  {
           background-image: url(../../Backgrounds/Metro/Forest/Green.png);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

/*Colours*/

.C1  {
           background-image: url(../../Backgrounds/Colours/1.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.C2  {
           background-image: url(../../Backgrounds/Colours/2.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

/*Nature === Phenomena*/

.NP1  {
           background-image: url(../../Backgrounds/Nature/phenomena/1.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.NP2  {
           background-image: url(../../Backgrounds/Nature/Phenomena/2.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

/*Nature === Plants === Flowers*/

.NPF1  {
           background-image: url(../../Backgrounds/Nature/Plants/Flowers/1.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.NPF2  {
           background-image: url(../../Backgrounds/Nature/Plants/Flowers/2.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

/*Nature === Plants === Aqua*/

/*Nature === plants === leaves*/

.NPL1  {
           background-image: url(../../Backgrounds/Nature/Plants/Leaves/1.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.NPL1  {
           background-image: url(../../Backgrounds/Nature/Plants/Leaves/2.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

/*Nature === plants === Herbs*/

.NPH1  {
           background-image: url(../../Backgrounds/Nature/Plants/Herbs/1.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

/*Nature === Plants === Trees*/

/*Nature === Water*/

.NW1  {
           background-image: url(../../Backgrounds/Nature/Water/1.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.NW2  {
           background-image: url(../../Backgrounds/Nature/Water/2.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.NW3  {
           background-image: url(../../Backgrounds/Nature/Water/3.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.NW4  {
           background-image: url(../../Backgrounds/Nature/Water/4.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

.NW5  {
           background-image: url(../../Backgrounds/Nature/Water/5.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

/*Insects*/

.I1  {
           background-image: url(../../Backgrounds/Nature/Plants/Insects/1.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

/*Animals === Marine*/

/*Animals === Wild*/

.AW1  {
           background-image: url(../../Backgrounds/Nature/Animals/Wild/1.jpg);
           background-size: 100% 100%;
           background-repeat: no-repeat;
}

/*Animals === Birds*/


