@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*, div {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #e8eaf6;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: block;
  width: 70%;
  margin: 20px auto 0 auto;
  background: #fff;
  height: 100vh;
}

.sw {
  float: left;
  width: 100%;
  height: 80px;

  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.1);
}
.sw form {
  float: left;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.sw a.logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  width: auto;
  height: 100%;
  max-width: 80px;
  margin-right: 10px;
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
  visibility: visible;
  opacity: 1;
  background-image: url("https://gmrui.com/img/logo.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sw a.logo img {
  max-width: 100%;
  width: auto;
}
.sw .search {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  outline: none;
  border: none;
  border-radius: 0;
  background: #fff;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  height: 50px;
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
  -webkit-appearance: none;
}
.sw .search:focus {
  height: 80px;
  margin-left: -15px;
  padding: 10px 15px;
}
.sw .search:focus + .go {
  height: 80px;
  margin-right: -15px;
  max-width: 80px;
  color: #533687;
}
.sw .search:focus + .go + a.logo {
  visibility: hidden;
  opacity: 0;
  max-width: 0px;
  margin-right: 0;
}
.sw .go {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  max-width: 50px;
  display: inline-block;
  border: none;
  background: #fff;
  color: #ccc;
  height: 50px;
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
  font-size: 21px;
  outline: none;
}

.content {
  float: left;
  width: 100%;
  clear: both;
  padding: 15px;
  text-align: center;
}
.content h1 {
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 0;
  font-size: 48px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.02em;
  margin-top: 50px 0 0 0;
}
.content p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
.content p a {
  color: #533687;
  text-decoration: none;
}
.content p a:hover {
  text-decoration: underline;
}
.content cite {
  color: #aaa;
}

.bubble-wrap {
    height: 60px;
    width: 60px;
    background-color: transparent;
    top: 25%;
    left: 48%;
    position: fixed;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transform: scale(1);
    -webkit-transition: all 0.3s ease-out;
    display: block;
}

.bubble-wrap.active {
    display: none;
}

.bubble {
    height: 60px;
    width: 60px;
    top: 25%;
    left: 48%;
    position: fixed;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -webkit-transition: all 0.3s ease-out;
}

.bubble.active {
    -webkit-transform: scale(100);
    -webkit-transition: all 0.6s ease-out;
    -webkit-transition-delay: .4s;
}

.bubbleback {
    height: 60px;
    width: 60px;
    background-color: white;
    top: 25%;
    left: 48%;
    position: fixed;
    border-radius: 50%;
    -webkit-transform: scale(1);
    opacity: 1;
}

.bubbleback.active {
    -webkit-transform: scale(1.5);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
}


