body {
    overflow: hidden;
}

.setting_page,
.back_btn {
    display: none;
}

.setting_cover {
    position: fixed;
    width: 50%;
    height: 100%;
    bottom: 0;

}

.setting_cover_icon {
    position: fixed;
    top: 35%;
    left: 13%;
}

.Users_settings,
.Users_settings_sub {
    display: none;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 15%;
    left: 620px;
}

.bubble-wrap {
    height: 60px;
    width: 60px;
    background-color: transparent;
    top: 25%;
    left: 48%;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transform: scale(1);
    -webkit-transition: all 0.3s ease-out;
    display: block;
}

.bubble-wrap.active {
    display: none;
}

.bubble {
    height: 60px;
    width: 60px;
    top: 25%;
    left: 48%;
    position: absolute;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -webkit-transition: all 0.3s ease-out;
   
}

.bubble.active {
    -webkit-transform: scale(100);
    -webkit-transition: all 0.6s ease-out;
    -webkit-transition-delay: .4s;
}

.bubbleback {
    height: 60px;
    width: 60px;
    background-color: white;
    top: 25%;
    left: 48%;
    position: absolute;
    border-radius: 50%;
    -webkit-transform: scale(1);
    opacity: 1;
}

.bubbleback.active {
    -webkit-transform: scale(1.5);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
}

.box {
    position: fixed;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    background-color: #ffffff;
    z-index: 100;
    display: none;
    z-index: 999999999999999999999999;
}

.form {
    position: relative;
}

h1 {
    color: blue;
    margin: 30px;
    font-size: 50px;
    font-family: Roboto;
    font-weight: thin;
}

form {
    margin: 20px;
    position: relative;
    height: 100%;
}

.sumbit_parent {
    position: absolute;
    right: 10%;
    bottom: 15%;
}

.sumbit_child {
    position: absolute;
    right: 10%;
    bottom: 15%;
    display: none;
}


.paper-input-container-0 .focused-line.paper-input-container {
    Background: #e91e63;
}
add_user_btn_icon {
    width: 60px;
    height: 60px;
    color: white;
}
