* {
    font-family: roboto;
}

.splashScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: WhiteSmoke;
}

.body {
   display: none;
}

body {
    overflow: hidden;
}

.setting_page,.back_btn {
    display: none;
}

.setting_cover {
    position: fixed;
    width: 50%;
    height: 100%;
    bottom: 0;
}

.splashIcon {
     position: fixed;
     left: 35%;
     top: 15%;
}

splashTitle  {
    position: fixed;
    top: 50%;
    left: 40%;    
} 

.setting_cover_icon {
    position: fixed;
    top: 35%;
    left: 13%;
}

.Users_settings,.Users_settings_sub,.Storage_settings,.Apps_settings,.Apps_settings_sub,.About_settings,.Sound_settings,.WI-FI_settings {
    display: none;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 15%;
    left: 630px;
}

.bubble-wrap {
    height: 60px;
    width: 60px;
    background-color: transparent;
    top: 25%;
    left: 48%;
    position: fixed;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transform: scale(1);
    -webkit-transition: all .3s ease-out;
    display: block;
}

.bubble-wrap.active {
    display: none;
}

.bubble {
    height: 60px;
    width: 60px;
    top: 25%;
    left: 48%;
    position: fixed;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -webkit-transition: all .3s ease-out;
}

.bubble.active {
    -webkit-transform: scale(100);
    -webkit-transition: all .6s ease-out;
    -webkit-transition-delay: .4s;
}

.bubbleback {
    height: 60px;
    width: 60px;
    background-color: #fff;
    top: 25%;
    left: 48%;
    position: fixed;
    border-radius: 50%;
    -webkit-transform: scale(1);
    opacity: 1;
}

.bubbleback.active {
    -webkit-transform: scale(1.5);
    opacity: 0;
    -webkit-transition: all .3s ease-out;
}

.box {
    position: fixed;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    background-color: #fff;
    z-index: 100;
    display: none;
    z-index: 1.0E+24;
}

.form {
    position: relative;
}

h1 {
    color: blue;
    margin: 30px;
    font-size: 50px;
    font-family: Roboto;
    font-weight: thin;
}

form {
    margin: 20px;
    position: relative;
    height: 100%;
}

.sumbit_parent {
    position: absolute;
    right: 10%;
    bottom: 15%;
}

.sumbit_cancel {
    position: absolute;
    right: 30%;
    bottom: 15%;
}

.paper-input-container-0 .focused-line.paper-input-container {
    background: #e91e63;
}

.add_user_btn_icon {
    font-size: 60px;
    color: #fff;
}

.wifi_not_supported_text {
    font-size: small;
}

.wifi_not_supported_container {
    display: none;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 30%;
}

.volume_list {
    top: 50%;
    position: fixed;
    left: 9%;
    display: none;
}

.ringtone_list {
    top: 50%;
    position: fixed;
    left: 19%;
    display: none;
}
